* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url("./pthoto_blog_assets_day1/img/wall.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: Edu Tas Beginner;
        font-weight: bold;
        font-size: 400%;
    }
}

main {
    background-image: url("./pthoto_blog_assets_day1/img/cork.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    
}

.card-text {
    font-family: Edu Tas Beginner;
}

.card-img {
        width: 600px;
        height: 600px;
    }

    .card {
        position: relative;
    }

    .pin {
        position: absolute;
        width: 12%;
        top: -4%;
        left: 43%
    }