* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*img di bg all'header e stilizzare il titolo*/
header {
    background-image: url("./pthoto_blog_assets_day1/img/wall.png");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: Edu Tas Beginner;
        font-weight: bold;
        font-size: 230%;}

    @media (min-width: 667px){
    h1 {
        font-size: 300%;
    }}

    @media (min-width: 992px){
    h1 {
        font-size: 400%;
    }}


}

/*aggiungere img di bg al main*/
main {
    background-image: url("./pthoto_blog_assets_day1/img/cork.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    
}

/*stilizzare la data*/
span {
    font-family: Sometype Mono;
}

/*stilizzare la disascalia*/
.card-text {
    font-family: Edu Tas Beginner;
    font-weight: 900;
}

/*stilizzare img della card e posizionare la pin*/
.card{
    img {
        cursor: pointer;
    }

    .card {
        position: relative;
    }

    .pin {
        position: absolute;
        width: 12%;
        top: -4%;
        left: 43%
    }}