* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  background-image: url("./pthoto_blog_assets_day1/img/wall.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 150px;
}

main {
    background-image: url("./pthoto_blog_assets_day1/img/cork.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}